# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Logs
*.log

*-serviceaccount.json

.DS_Store
src/config/*.json
lib/
output.json
migrate/export*.json
scripts/*.json